<h1><%= @team.name %></h1>

<% if current_user && current_user.admin %>
  <%= link_to "Edit", edit_team_path(@team.id) %>
<% end %>

<% @games = @team.games %>
<% @games = @games.sort_by {|h| h[:date]} %>
<% @games.each do |game| %>

  <h3><%= link_to "#{game.home_team.name} #{game.home_points} :
  #{game.away_points} #{game.away_team.name}", game_path %></h3>
  <h4>Date: <%= game.date.strftime("%m/%d/%Y") %></h4>

  <p>Home: <%= link_to Team.find_by(id: game.home_id).name, team_path(Team.find_by(id: game.home_id).id) %></p>

  <table class="table table-hover table-condensed table-bordered">
    <thead class="thead-inverse">
      <tr class="active">
        <th>Name</th>
        <th>Number</th>
        <th>PTS</th>
        <th>FGM-FGA</th>
        <th>3PM-3PA</th>
        <th>FTM-FTA</th>
        <th>REB</th>
        <th>AST</th>
        <th>STL</th>
        <th>BLK</th>
        <% if current_user && current_user.admin %>
        <th></th>
        <% end %>
      </tr>
    </thead>
  <% @total_pts = 0 %>
  <% @total_fgm = 0 %>
  <% @total_fga = 0 %>
  <% @total_tpm = 0 %>
  <% @total_tpa = 0 %>
  <% @total_ftm = 0 %>
  <% @total_fta = 0 %>
  <% @total_reb = 0 %>
  <% @total_ast = 0 %>
  <% @total_stl = 0 %>
  <% @total_blk = 0 %>

  <% game.performances.each do |performance| %>

    <tr>
      <% if Player.find_by(id: performance.player_id).team_id == game.home_id %>
      <td><%= link_to Player.find_by(id: performance.player_id).name, player_path(performance.player_id) %></td>
      <td>#<%= Player.find_by(id: performance.player_id).player_number %></td>
      <td><%= performance.pts %></td>
      <td><%= performance.fgm %>-<%= performance.fga %></td>
      <td><%= performance.tpm %>-<%= performance.tpa %></td>
      <td><%= performance.ftm %>-<%= performance.fta %></td>
      <td><%= performance.reb %></td>
      <td><%= performance.ast %></td>
      <td><%= performance.stl %></td>
      <td><%= performance.blk %></td>
      <% if current_user && current_user.admin %>
      <td><%= link_to "Edit", edit_performance_path(performance.id) %></td>
      <% end %>
      <% @total_pts += performance.pts %>
      <% @total_fgm += performance.fgm %><% @total_fga += performance.fga %>
      <% @total_tpm += performance.tpm %><% @total_tpa += performance.tpa %>
      <% @total_ftm += performance.ftm %><% @total_fta += performance.fta %>
      <% @total_reb += performance.reb %>
      <% @total_ast += performance.ast %>
      <% @total_stl += performance.stl %>
      <% @total_blk += performance.blk %>
      <% end %>
    </tr>

<% end %>
  <thead class="thead-inverse">
    <tr class="active">
      <th>Totals</th>
      <th>-</th>
      <th><%= @total_pts %></th>
      <th><%= @total_fgm %>-<%= @total_fga %></th>
      <th><%= @total_tpm %>-<%= @total_tpa %></th>
      <th><%= @total_ftm %>-<%= @total_fta %></th>
      <th><%= @total_reb %></th>
      <th><%= @total_ast %></th>
      <th><%= @total_stl %></th>
      <th><%= @total_blk %></th>
      <% if current_user && current_user.admin %>
      <th>-</th>
      <% end %>
    </tr>
  </thead>
  </table>

  <p>Away: <%= link_to Team.find_by(id: game.away_id).name, team_path(Team.find_by(id: game.away_id).id) %>

  <table class="table table-hover table-condensed table-bordered">
  <thead class="thead-inverse">
    <tr class="active">
      <th>Name</th>
      <th>Number</th>
      <th>PTS</th>
      <th>FGM-FGA</th>
      <th>3PM-3PA</th>
      <th>FTM-FTA</th>
      <th>REB</th>
      <th>AST</th>
      <th>STL</th>
      <th>BLK</th>
      <% if current_user && current_user.admin %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <% @total_pts = 0 %>
  <% @total_fgm = 0 %>
  <% @total_fga = 0 %>
  <% @total_tpm = 0 %>
  <% @total_tpa = 0 %>
  <% @total_ftm = 0 %>
  <% @total_fta = 0 %>
  <% @total_reb = 0 %>
  <% @total_ast = 0 %>
  <% @total_stl = 0 %>
  <% @total_blk = 0 %>
  <% game.performances.each do |performance| %>

    <tr>
      <% if Player.find_by(id: performance.player_id).team_id == game.away_id %>
      <td><%= link_to Player.find_by(id: performance.player_id).name, player_path(performance.player_id) %></td>
      <td>#<%= Player.find_by(id: performance.player_id).player_number %></td>
      <td><%= performance.pts %></td>
      <td><%= performance.fgm %>-<%= performance.fga %></td>
      <td><%= performance.tpm %>-<%= performance.tpa %></td>
      <td><%= performance.ftm %>-<%= performance.fta %></td>
      <td><%= performance.reb %></td>
      <td><%= performance.ast %></td>
      <td><%= performance.stl %></td>
      <td><%= performance.blk %></td>
      <% if current_user && current_user.admin %>
        <td><%= link_to "Edit", edit_performance_path(performance.id) %></td>
      <% end %>
      <% @total_pts += performance.pts %>
      <% @total_fgm += performance.fgm %><% @total_fga += performance.fga %>
      <% @total_tpm += performance.tpm %><% @total_tpa += performance.tpa %>
      <% @total_ftm += performance.ftm %><% @total_fta += performance.fta %>
      <% @total_reb += performance.reb %>
      <% @total_ast += performance.ast %>
      <% @total_stl += performance.stl %>
      <% @total_blk += performance.blk %>
      <% end %>
    </tr>
  <% end %>
  <thead class="thead-inverse">
    <tr class="active">
      <th>Totals</th>
      <th>-</th>
      <th><%= @total_pts %></th>
      <th><%= @total_fgm %>-<%= @total_fga %></th>
      <th><%= @total_tpm %>-<%= @total_tpa %></th>
      <th><%= @total_ftm %>-<%= @total_fta %></th>
      <th><%= @total_reb %></th>
      <th><%= @total_ast %></th>
      <th><%= @total_stl %></th>
      <th><%= @total_blk %></th>
      <% if current_user && current_user.admin %>
      <th>-</th>
      <% end %>
    </tr>
  </thead>
  </table>
<% end %>
