<!DOCTYPE html>
<html>
<head>
  <title>X League</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="container">


  <% if current_user %>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <ul class="nav navbar-nav pull-left">
      <li><%= link_to 'X-League', root_path %></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Teams', teams_path %></li>
      <li><%= link_to 'Players', players_path %></li>
      <li><%= link_to 'Logout', session_path('dummy'), method: :delete %></li>
    </ul>
  </header>


      <% else %>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Sign Up', new_user_path %></li>
    </ul>
  </header>
      <% end %>

<%= yield %>
</div>
</body>
</html>
