<h1>Edit <%= link_to @performance.player.name, performance_path %></h1>

<%= form_for @performance, :html => {:class => "form-horizontal center"} do |f| %>

<h3><%= @performance.player.name %> #<%= @performance.player.player_number %></h3>
<h3><%= @performance.player.team.name %></h3>
<h4>Game on: <%= @performance.game.date.strftime("%m/%d/%Y") %></h4>

    <div class="form-group">
        <div class="col-md-8">
        <%= f.label :pts %>
        <br>
        <%= f.text_field :pts, class: "col-md-4" %>
    </div>
    </div>

    <div class="form-group">
        <div class="col-md-8">
        <%= f.label :fgm %>
        <br>
        <%= f.text_field :fgm, class: "col-md-4" %>
    </div>
    </div>

  <div class="form-group">
    <div class="col-md-8">
        <%= f.label :fga %>
        <br>
        <%= f.text_field :fga, class: "col-md-4" %>
    </div>
    </div>

  <div class="form-group">
    <div class="col-md-8">
        <%= f.label :tpm %>
        <br>
        <%= f.text_field :tpm, class: "col-md-4" %>
    </div>
    </div>


  <div class="form-group">
    <div class="col-md-8">
        <%= f.label :tpa %>
        <br>
        <%= f.text_field :tpa, class: "col-md-4" %>
    </div>
    </div>

  <div class="form-group">
    <div class="col-md-8">
        <%= f.label :ftm %>
        <br>
        <%= f.text_field :ftm, class: "col-md-4" %>
    </div>
    </div>

  <div class="form-group">
    <div class="col-md-8">
        <%= f.label :fta %>
        <br>
        <%= f.text_field :fta, class: "col-md-4" %>
    </div>
    </div>

  <div class="form-group">
    <div class="col-md-8">
        <%= f.label :reb %>
        <br>
        <%= f.text_field :reb, class: "col-md-4" %>
    </div>
    </div>

  <div class="form-group">
    <div class="col-md-8">
        <%= f.label :ast %>
        <br>
        <%= f.text_field :ast, class: "col-md-4" %>
    </div>
    </div>

  <div class="form-group">
    <div class="col-md-8">
        <%= f.label :stl %>
        <br>
        <%= f.text_field :stl, class: "col-md-4" %>
    </div>
    </div>

  <div class="form-group">
    <div class="col-md-8">
        <%= f.label :blk %>
        <br>
        <%= f.text_field :blk, class: "col-md-4" %>
    </div>
    </div>

    <%= f.submit "Submit changes" %>
    <br>
    <%= link_to "Delete", performance_path, method: :delete, data: { confirm: "Are you sure you want to delete this performance?"} %>

<% end %>
