<h1><%= @player.name %> #<%= @player.player_number %> <%= Team.find_by(id: @player.team_id).name %></h1>

<% if current_user && current_user.admin %>
  <%= link_to "Edit", edit_player_path(@player.id) %>
  <%= link_to "Delete", player_path, method: :delete, data: { confirm: "Are you sure you want to delete this player and all of its performances?"} %>
<% end %>

  <h2>Season Stats</h2>
    <table class="table table-hover table-condensed table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>Date</th>
          <th>Opponent</th>
          <th>PTS</th>
          <th>FGM-FGA</th>
          <th>3PM-3PA</th>
          <th>FTM-FTA</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <% if current_user && current_user.admin %>
          <th></th>
          <% end %>
        </tr>
      </thead>

    <% @total_pts = 0 %>
    <% @total_fgm = 0 %>
    <% @total_fga = 0 %>
    <% @total_tpm = 0 %>
    <% @total_tpa = 0 %>
    <% @total_ftm = 0 %>
    <% @total_fta = 0 %>
    <% @total_reb = 0 %>
    <% @total_ast = 0 %>
    <% @total_stl = 0 %>
    <% @total_blk = 0 %>

  <% @performances = @player.performances %>
  <% @performances = @performances.sort_by {|p| p.game.date} %>
  <% @performances.each do |performance| %>

      <tr>
        <td><%= performance.game.date.strftime("%m/%d/%Y") %></td>
        <td>
          <% if performance.game.home_id == @player.team_id %>
          <% then %>
          <%= link_to Team.find_by(id: performance.game.away_id).name, team_path(Team.find_by(id: performance.game.away_id).id) %>
          <% else %>
          <%= link_to Team.find_by(id: performance.game.home_id).name, team_path(Team.find_by(id: performance.game.home_id).id) %>
          <% end %>
        </td>
        <td><%= performance.pts %></td>
        <td><%= performance.fgm %>-<%= performance.fga %></td>
        <td><%= performance.tpm %>-<%= performance.tpa %></td>
        <td><%= performance.ftm %>-<%= performance.fta %></td>
        <td><%= performance.reb %></td>
        <td><%= performance.ast %></td>
        <td><%= performance.stl %></td>
        <td><%= performance.blk %></td>
        <% if current_user && current_user.admin %>
        <td><%= link_to "Edit", edit_performance_path(performance.id) %></td>
        <% end %>
        <% @total_pts += performance.pts %>
        <% @total_fgm += performance.fgm %><% @total_fga += performance.fga %>
        <% @total_tpm += performance.tpm %><% @total_tpa += performance.tpa %>
        <% @total_ftm += performance.ftm %><% @total_fta += performance.fta %>
        <% @total_reb += performance.reb %>
        <% @total_ast += performance.ast %>
        <% @total_stl += performance.stl %>
        <% @total_blk += performance.blk %>
      </tr>
    <% end %>

    <tr>
      <td>Totals</td>
      <td>-</td>
      <td><%= @total_pts %></td>
      <td><%= @total_fgm %>-<%= @total_fga %></td>
      <td><%= @total_tpm %>-<%= @total_tpa %></td>
      <td><%= @total_ftm %>-<%= @total_fta %></td>
      <td><%= @total_reb %></td>
      <td><%= @total_ast %></td>
      <td><%= @total_stl %></td>
      <td><%= @total_blk %></td>
      <% if current_user && current_user.admin %>
      <td>-</td>
      <% end %>
    </tr>

    </table>

  <h2>Games</h2>

<% @games = @player.games %>
<% @games = @games.sort_by {|h| h[:date]} %>
<% @games.each do |game| %>

  <h3><%= link_to "#{game.away_team.name} #{game.away_points} : #{game.home_points} #{game.home_team.name}", game_path(game.id) %></h3>

  <h4>Home: <%= link_to Team.find_by(id: game.home_id).name, team_path(Team.find_by(id: game.home_id).id) %></h4>

  <table class="table table-hover table-condensed table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th>Player</th>
        <th>Number</th>
        <th>PTS</th>
        <th>FGM-FGA</th>
        <th>3PM-3PA</th>
        <th>FTM-FTA</th>
        <th>REB</th>
        <th>AST</th>
        <th>STL</th>
        <th>BLK</th>
      </tr>
    </thead>
  <% @total_pts = 0 %>
  <% @total_fgm = 0 %>
  <% @total_fga = 0 %>
  <% @total_tpm = 0 %>
  <% @total_tpa = 0 %>
  <% @total_ftm = 0 %>
  <% @total_fta = 0 %>
  <% @total_reb = 0 %>
  <% @total_ast = 0 %>
  <% @total_stl = 0 %>
  <% @total_blk = 0 %>

  <% game.performances.each do |performance| %>

    <tr>
      <% if performance.player.team_id == game.home_id %>
      <td><%= link_to performance.player.name, player_path(performance.player.id) %></td>
      <td>#<%= performance.player.player_number %></td>
      <td><%= performance.pts %></td>
      <td><%= performance.fgm %>-<%= performance.fga %></td>
      <td><%= performance.tpm %>-<%= performance.tpa %></td>
      <td><%= performance.ftm %>-<%= performance.fta %></td>
      <td><%= performance.reb %></td>
      <td><%= performance.ast %></td>
      <td><%= performance.stl %></td>
      <td><%= performance.blk %></td>
      <% @total_pts += performance.pts %>
      <% @total_fgm += performance.fgm %><% @total_fga += performance.fga %>
      <% @total_tpm += performance.tpm %><% @total_tpa += performance.tpa %>
      <% @total_ftm += performance.ftm %><% @total_fta += performance.fta %>
      <% @total_reb += performance.reb %>
      <% @total_ast += performance.ast %>
      <% @total_stl += performance.stl %>
      <% @total_blk += performance.blk %>
      <% end %>
    </tr>

<% end %>

    <tr>
      <td>Totals</td>
      <td>-</td>
      <td><%= @total_pts %></td>
      <td><%= @total_fgm %>-<%= @total_fga %></td>
      <td><%= @total_tpm %>-<%= @total_tpa %></td>
      <td><%= @total_ftm %>-<%= @total_fta %></td>
      <td><%= @total_reb %></td>
      <td><%= @total_ast %></td>
      <td><%= @total_stl %></td>
      <td><%= @total_blk %></td>
    </tr>
  </table>

  <h4>Away: <%= link_to Team.find_by(id: game.away_id).name, team_path(Team.find_by(id: game.away_id).id) %></h4>

  <table class="table table-hover table-condensed table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Player</th>
      <th>Number</th>
      <th>PTS</th>
      <th>FGM-FGA</th>
      <th>3PM-3PA</th>
      <th>FTM-FTA</th>
      <th>REB</th>
      <th>AST</th>
      <th>STL</th>
      <th>BLK</th>
    </tr>
  </thead>

  <% @total_pts = 0 %>
  <% @total_fgm = 0 %>
  <% @total_fga = 0 %>
  <% @total_tpm = 0 %>
  <% @total_tpa = 0 %>
  <% @total_ftm = 0 %>
  <% @total_fta = 0 %>
  <% @total_reb = 0 %>
  <% @total_ast = 0 %>
  <% @total_stl = 0 %>
  <% @total_blk = 0 %>
  <% game.performances.each do |performance| %>

    <tr>
      <% if performance.player.team_id == game.away_id %>
      <td><%= link_to performance.player.name, player_path(performance.player.id) %></td>
      <td>#<%= performance.player.player_number %></td>
      <td><%= performance.pts %></td>
      <td><%= performance.fgm %>-<%= performance.fga %></td>
      <td><%= performance.tpm %>-<%= performance.tpa %></td>
      <td><%= performance.ftm %>-<%= performance.fta %></td>
      <td><%= performance.reb %></td>
      <td><%= performance.ast %></td>
      <td><%= performance.stl %></td>
      <td><%= performance.blk %></td>
      <% @total_pts += performance.pts %>
      <% @total_fgm += performance.fgm %><% @total_fga += performance.fga %>
      <% @total_tpm += performance.tpm %><% @total_tpa += performance.tpa %>
      <% @total_ftm += performance.ftm %><% @total_fta += performance.fta %>
      <% @total_reb += performance.reb %>
      <% @total_ast += performance.ast %>
      <% @total_stl += performance.stl %>
      <% @total_blk += performance.blk %>
      <% end %>
    </tr>
  <% end %>
    <tr>
      <td>Totals</td>
      <td>-</td>
      <td><%= @total_pts %></td>
      <td><%= @total_fgm %>-<%= @total_fga %></td>
      <td><%= @total_tpm %>-<%= @total_tpa %></td>
      <td><%= @total_ftm %>-<%= @total_fta %></td>
      <td><%= @total_reb %></td>
      <td><%= @total_ast %></td>
      <td><%= @total_stl %></td>
      <td><%= @total_blk %></td>
    </tr>
  </table>
<% end %>
